body{
    background-color: rgb(255, 255, 255);

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 4, 4);

}

footer{

    background-color: white;
}

.cabecalho_imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;

}



.cabecalho_menu-lista{

    margin: 20px;

}

.sobre{

display: flex;
justify-content: center;
align-items: center;

}


.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;

}

.sobre_imagem{
width: 400px;
height: 400px;
padding: 20px;
