body{
    background-color: black;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 4, 4);

}

footer{

    background-color: black;
}

.cabecalho_imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;

}



.cabecalho_menu-lista{

    margin: 20px;

}



.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;

}